button {
    background: #3DBFF0;
    height: 30px;
    width: 50%;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 2px;
  }
  button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
  }
  button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
  }
.activationButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
